<!--Page Container Start Here-->
<section class="main-container">
    <div class="container-fluid">
        <div class="page-header filled full-block light">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h2>Tipos de Servicios</h2>
                    <p>Listado de tipos de servicios</p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <app-breadcrumbs></app-breadcrumbs>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="widget-wrap">
                    <div class="widget-header block-header clearfix">
                        <h3>Tipos de servicio</h3>
                        <a [routerLink]="['/tipo-servicio','nuevo']" class="btn btn-primary float-right">Añadir Tipo de Servicio</a>
                    </div>
                    <div class="widget-container">
                        <div class="widget-content">
                            <table class="table data-tbl">
                                <thead>
                                    <tr>
                                        <th>Servicio</th>
                                        <th>Empresa</th>
                                        <th>Activo</th>
                                        <th>Acción</th>

                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Servicio</th>
                                        <th>Empresa</th>
                                        <th>Activo</th>
                                        <th>Acción</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</section>