<section class="login-container boxed-login">
    <div class="container">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
            <div class="login-form-container">
                <form #f="ngForm" (ngSubmit)="login(f);" class="j-forms" ngNativeValidate>

                    <div class="login-form-header">
                        <div class="logo">
                            <a routerLink="/login" title="Admin Template"><img src="assets/images/logo-dark.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="login-form-content">



                        <!-- start login -->
                        <div class="unit">
                            <div class="input login-input">
                                <label class="icon-left" for="login">
                          <i class="zmdi zmdi-account"></i>
                      </label>
                                <input [(ngModel)]="correo" class="form-control login-frm-input" type="text" name="correo" placeholder="Email" required="required"> </div>
                        </div>
                        <!-- end login -->

                        <!-- start password -->
                        <div class="unit">
                            <div class="input login-input">
                                <label class="icon-left" for="password">
                          <i class="zmdi zmdi-key"></i>
                      </label>
                                <input ngModel class="form-control login-frm-input" type="password" name="password" placeholder="Password" required="required">
                                <span class="hint">
                <a class="link">Forgot password?</a>
              </span>
                            </div>
                        </div>
                        <!-- end password -->
                        <!-- start keep logged -->
                        <div class="unit">
                            <label class="checkbox">
                      <input type="checkbox" name="logged" value="true" checked="" [(ngModel)]="recordar">
                      <i></i>
                      Recordar
                  </label>
                        </div>
                        <!-- end keep logged -->
                        <!-- start response from server -->
                        <div class="response"></div>
                        <!-- end response from server -->
                    </div>
                    <div class="login-form-footer">
                        <button type="submit" class="btn-block btn btn-primary">Sign in</button>
                    </div>
                    <div class="divider-text gap-top-20 gap-bottom-45">
                        <span>Social icons</span>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="social-btn facebook">
                                <i class="fa fa-facebook"></i>
                                <button type="button" (ngClick)="facebookInit();">Facebook</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="social-btn google-plus">
                                <i class="fa fa-google-plus"></i>
                                <button type="button" id="btn-google">Google+</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Footer Start Here -->
    <footer class="login-page-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                    <div class="footer-content">
                        <span class="footer-meta">Crafted with&nbsp;<i class="fa fa-heart"></i>&nbsp;by&nbsp;<a href="http://themeforest.net/user/westilian">westilian</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer End Here -->
</section>